img {
   width: 100px;
   height: 100px;
}
img:hover{
   cursor:pointer;
}

div.mini{
  
   width:100px;
   height: 130px;
   text-align: center;
   font-weight: bold;
   transition:0.3s;
   background-color: white;
}

div.mini:hover{
   transform: scale(1.3);
}


div.graphics_window{
  position: absolute;
  top: 20vh;
  width: 40%;
  height: 72vh;
  right:0;
  background-color:white;
  border: 2px solid black;
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
   box-sizing: border-box;
   overflow-x: hidden;
}

.products_selection{
  position: absolute;
  left: 60%;
  top:15vh;
  font-weight: bold;
  font-size: 18px;
}
.products_selection select{
  margin-left:10px;
  font-size: 16px;
  padding: 3px
}
